
@{
    ViewBag.Title = "DownloadStudyMaterial";
    Layout = "~/Views/shared/Common_User_Layout.cshtml";
}
@using Demo20.Models;
@model IEnumerable<UploadStudyMaterial>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 border mt-4 mb-4 pt-2"style="background-color: #ebf4fa;">
        <h3 class="text-center text-primary">Download Study Material</h3>
        <hr />
        <table class="table table-primary">
            <tr>
                <th>Materail_Id</th>
                <th>Subject</th>
                <th>Title</th>
                <th>Description</th>
                <th>FileName</th>
                <th>Upload_DT</th>
                <th class="text-center">Download</th>
            </tr>
            @{
                foreach (UploadStudyMaterial um in Model)
                {
                    <tr>
                        <td>@um.Materail_Id</td>
                        <td>@um.Subject</td>
                        <td>@um.Title</td>
                        <td>@um.Description</td>
                        <td>@um.FileName</td>
                        <td>@um.Upload_DT</td>
                        <td>
                            <a href="/User/DownloadTasks1?fname=@um.FileName">
                                <span class="fa fa-file fa-download text-center"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>

